@model MyProject.ViewModels.LoginViewModel
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="loginModalLabel">เข้าสู่ระบบ</h5></div>
            <div class="modal-body">
                <form id="loginForm" asp-controller="Account" asp-action="Login" method="post">
                    @Html.AntiForgeryToken()
                    <div id="loginErrorContainer" class="alert alert-danger" style="display: none;"></div>
                    <div class="form-group">
                        <label asp-for="Email">อีเมล</label>
                        <input asp-for="Email" class="form-control" autocomplete="username" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">รหัสผ่าน</label>
                        <input asp-for="Password" class="form-control" autocomplete="current-password" />
                    </div>
                    <button type="submit" class="btn">เข้าสู่ระบบ</button>
                </form>
            </div>
        </div>
    </div>
</div>