@model IEnumerable<MyProject.Models.Giveaway>
@{
    ViewData["Title"] = "แลกคะแนนสะสม";
}

<div class="container">
    <h1 class="page-title">🎁 แลกคะแนนสะสม 🎁</h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="custom-card">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            @item.PointCost.ToString("N0") คะแนน
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-card-action">แลกคะแนน</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>